<form method="POST" action="/books">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <select class="form-select" id="author" name="author">
            <option selected>Select an author</option>
            {{#each authors}}
            <option value="{{this.authorID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <select class="form-select" id="genre" name="genre">
            <option selected>Select a genre</option>
            {{#each genres}}
            <option value="{{this.genreCode}}">{{this.genreName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add Book</button>
    </div>
</form>
<br>
<form class="d-flex">
    <input class="form-control" type="search" placeholder="Search Books" id="search" oninput="searchBooks()"/>
</form>
<br>
<div id="bookContainer">
{{#each books}}
    <div class="alert alert-secondary m-0" id="book-{{this.bookID}}">{{this.title}} by {{this.firstName}} {{this.lastName}}</div>
{{/each}}
</div>

<script>
    function searchBooks() {
        const query = document.getElementById("search").value;
        const books = {{{booksJSON}}};
        for (const book of books) {
            const bookDiv = document.getElementById(`book-${book.bookID}`);
            const bookInfo = `${book.title} ${book.firstName} ${book.lastName}`;
            if (bookInfo.toLowerCase().includes(query.toLowerCase())) {
                bookDiv.style.display = "block";
            } else {
                bookDiv.style.display = "none";
            }
        }
    }
</script>