<form id="newBorrowForm" method="POST" action="/borrows/insert"x>
    <div class="mb-3">
        <label for="books" class="form-label">Select one or more books</label>
        <select class="form-select" multiple id="books" name="books">
            {{#each books}}
            <option value="{{this.bookID}}">{{this.title}} by {{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="member" class="form-label">Member</label>
        <select class="form-select" id="member" name="member">
            <option selected>Select a member</option>
            {{#each members}}
            <option value="{{this.memberID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="startTime" class="form-label">Start Time</label>
        <input type="datetime-local" class="form-control" id="startTime" name="startTime">
    </div>
    <div class="mb-3">
        <label for="dueTime" class="form-label">Due Time</label>
        <input type="datetime-local" class="form-control" id="dueTime" name="dueTime">
    </div>

    <button type="submit" class="btn btn-primary">Borrow Book</button>

</form>

<div class="modal fade" id="editBorrow" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrow</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editBorrowForm" method="POST" action="/borrows/update">
                    <input type="hidden" id="editborrowID" name="editborrowID">
                    <div class="mb-3">
                        <label for="bookName" class="form-label">Select one or more books</label>
                        <select class="form-select" multiple id="editbookName" name="editbookName">
                            {{#each books}}
                            <option value="{{this.bookID}}">{{this.title}} by {{this.firstName}} {{this.lastName}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="member" class="form-label">Member</label>
                        <select class="form-select" id="editmember" name="editmember">
                            <option selected>Select a member</option>
                            {{#each members}}
                            <option value="{{this.memberID}}">{{this.firstName}} {{this.lastName}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="startTime" class="form-label">Start Time</label>
                        <input type="datetime-local" class="form-control" id="editstartTime" name="editstartTime">
                    </div>
                    <div class="mb-3">
                        <label for="dueTime" class="form-label">Due Time</label>
                        <input type="datetime-local" class="form-control" id="editdueTime" name="editdueTime">
                    </div>
                    <div class="mb-3">
                        <label for="returnTime" class="form-label">Return Time</label>
                        <input type="datetime-local" class="form-control" id="editreturnTime" name="editreturnTime">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="editBorrowForm" onclick="location.reload()">Update Borrow</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br>
<form>
    <div class="row mb-3">
        <label for="borrow" class="form-label">Borrow</label>
        <div class="col">
            <select class="form-select" name="borrow" id="borrow">
                <option selected>Select a Borrow to edit</option>
                {{#each borrows}}
                <option value="{{this.borrowID}}">{{this.firstName}} {{this.lastName}} borrowed on {{this.startTime}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editBorrow" onclick="setBorrow()">
                Update Borrow
            </button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-danger" formmethod="POST" formaction="/borrows/delete">
                Delete Borrow
            </button>
        </div>
    </div>
</form>

<script>
    const start = new Date()
    start.setMinutes(start.getMinutes() - start.getTimezoneOffset());
    document.getElementById("startTime").value = start.toISOString().slice(0, 16);
    start.setMinutes(start.getMinutes() + 14 * 24 * 60);
    document.getElementById("dueTime").value = start.toISOString().slice(0, 16);

    function setBorrow() {
        console.log("Setting borrow")
        const borrowID = document.getElementById("borrow").value;
        console.log("Borrow ID: ", borrowID)
        const borrowsList = {{{borrowsJSON}}};
        const borrow = borrowsList.find(b => b.borrowID == borrowID);
        console.log("Borrow: ", borrow)
        console.log("borrowsList: ", borrowsList)
        const editBorrowID = document.getElementById("editborrowID");
        const editStartTime = document.getElementById("editstartTime");
        const editDueTime = document.getElementById("editdueTime");
        const editReturnTime = document.getElementById("editreturnTime");
        const editMember = document.getElementById("editmember");
        const editBookName = document.getElementById("editbookName");
        editBorrowID.value = borrowID;
        editStartTime.value = new Date(borrow.startTime).toISOString().slice(0, 16);
        editDueTime.value = new Date(borrow.dueTime).toISOString().slice(0, 16);
        editReturnTime.value = borrow.returnTime ? new Date(borrow.returnTime).toISOString().slice(0, 16) : "";
        editMember.value = borrow.memberID;
        for (const option of editBookName.options) {
            option.selected = borrow.books.some(b => b.bookID == option.value);
        }
    }
</script>
